<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="footer" style="color:#fff; background:#000  ">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque sunt saepe ex inventore id impedit iste porro, vero aspernatur delectus totam laboriosam odit exercitationem, nulla unde, deserunt itaque. Accusamus, labore?</p>
    </div>
</body>
</html>