<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>template-tags</title>
</head>
<body>

    {% comment %}
    <h3>Template-tags</h3>
    {% if 'Banana' in fruits %}
      <h4>Wellcome</h4>
      {% else %}
      <h4>Goodbye</h4>
    {% endif  %}

    {% endcomment %}

   {% if 'Banana' in fruits %}
  <h1>Hello</h1>
{% else %}
  <h1>Goodbye</h1>
{% endif %}

{% include 'footer.html' %}
</body>
</html>